<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head', {title: "Detalles"}) %> 

</head>
<body class="body">

    <%- include('../partials/header')  %>

    <main class="main main-detail">
        <section class="juego">
            <div class="nombre__juego">
                <span><%= producto.name_game %></span>
            </div>

            <div class="cont-img__juego">
                <img src="/images/juegos/<%= producto.images[0].img_url %>" alt="El juego es <%= producto.name_game %>" class="cont-img__img">
            </div>

            <div class="cont-ediciones-plataformas">
                <div class="cont-plataformas">
                    <div class="plataformas">
                        <span>Plataformas</span>
                    </div>

                    <div class="cont__consolas">
                        <% if (producto.consoles.name_console == 'Play Station') { %>
                            <div class="ps5"><img class="img-logo__plataformas" src="/images/iconos/PlayStation_5_Logo.svg"></div>
                        <% } else if (producto.consoles.name_console == 'X-Box') {%>
                            <div class="xbox"><img class="img-logo__plataformas" src="/images/iconos/Xbox_Logo.svg"></div>
                        <% } else if (producto.consoles.name_console == 'PC') {%>
                            <div class="pc"><img class="img-logo__plataformas" src="/images/iconos/Windows_Logo.svg"></div>
                        <% }%>
                    </div>
                </di>

                <div class="cont-ediciones">
                    <span class="edicion">Edicion</span>
                    <div class="ediciones">
                        <button class="estandar"><%=producto.editions.name_editions %></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="detalles">
            <div class="detalles__primer-fila">
                <div class="precio">$ <%= producto.price %></div>

                <div class="cont__añadir" >
                    <button type="submit" class="añadir__carrito-fav">Añadir al carrito</button>
                    <div class="detail-cont-star">
                        <i class="fas fa-star detail-star"></i>
                        <p>Añadir a favoritos</p>
                    </div>
                </div>

                <div class="stock">
                    <span>Stock <%=': ' + producto.stock  %> </span>
                </div>
                <div class="cont__genero">
                    <p>Género <%=': '+ producto.genres.name_genre %> </p>
                </div>
            </div>

            <div class="contenido">
                <div class="cont-datos">
                    <button class="descripcion" id="boton-descripcion"> Descripción</button>
                    <button class="video" id="boton-video">Videos</button>
                    <button class="ficha-tecnica" id="descripcion-ficha-tecnica">Ficha técnica</button>
                </div>

                <div class="cont__detalles">
                    <p id="descripcion-juego">
                        <%= producto.description %>
                    </p>
                    <iframe width="300" id="video-html" class="cont-video" height="160" src="
                    <% if (producto.video.includes("https://")) { %>
                        <%= producto.video %>
                    <% } else {%>
                        https://<%= producto.video %>
                    <% } %>
                    " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <% if (locals.isLogged && locals.userLogged.type_user) { %>
                <div class="cont__edicion">
                    <a href="/products/edit/<%= producto.id %>" class="añadir__carrito-fav cont__edicion-editar">Editar Producto</a>
                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="añadir__carrito-fav">Eliminar</button>
                    </form>
                </div>
            <% } %>
        </section>
    </main>

    <%- include ('../partials/footer') %>
    <script src="/js/detalleProductoFront.js"></script>

</body>
</html>
