<!DOCTYPE html>
<html lang="es">

    <%- include ('../partials/head', { title: "Editar Usuario" }) %>

<body class="body">

    <%- include('../partials/header', { title: "Editar Usuario" })  %>

    <main class="main main--registro-login animate__animated animate__fadeInDown">
        <section class="form">

            <h3>¿Qué deseas editar de tu perfil?</h3>

            <form action="/users/editUser/<%= datosDeUsuario.id %>?_method=PUT" method="post" class="form__contenedor-inputs" enctype="multipart/form-data">
                <div class="form__cont">
                    <label for="editUser-nombre">Nombre:</label>
                    <input class="form__inputs" value="<%= locals.oldData ? oldData.editUsernombre : datosDeUsuario.first_name %>" id="editUser-nombre" name="editUsernombre" type="text" placeholder="Tu nombre de usuario...">
                    <% if (locals.errors && errors.editUsernombre) { %>
                        <p class="text-danger"><%= errors.editUsernombre.msg %></p>
                    <% } %>
                </div>
                
                <div class="form__cont">
                    <label for="editUser-email">Email:</label>
                    <input class="form__inputs" value="<%= locals.oldData ? oldData.editUseremail : datosDeUsuario.email %>" id="editUser-email" name="editUseremail" type="email" placeholder="Tu email...">
                    <% if (locals.errors && errors.editUseremail) { %>
                        <p class="text-danger"><%= errors.editUseremail.msg %></p>
                    <% } %> 
                </div>
                
                <div class="form__cont">
                    <label for="editUser-contra">Contraseña:</label>
                    <input class="form__inputs" id="editUser-contra" name="editUsercontra" type="password" placeholder="Escribe tu nueva contraseña">
                    <% if (locals.errors && errors.editUsercontra) { %>
                        <p class="text-danger"><%= errors.editUsercontra.msg %></p>
                    <% } %>
                </div>

                <div>
                    <label for="editUser-foto" class=>Imagen de Perfil:</label>
                    <input id="editUser-foto" name="editUserfoto" type="file" accept=".png, .jpg">
                </div>

                <div>
                    <input type="hidden" value="<%= datosDeUsuario.images[0].img_url %>" name="oldAvatar">
                </div>
                
                <button class="button-crearCuenta-iniciarSesion" type="submit">Editar</button>
            </form>

        </section>
    </main>

    <%- include ('../partials/footer') %>

</body>
</html>