<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: "Registro" }) %> 

<body class="body">
    <main class="main--registro-login animate__animated animate__fadeInDown">
        <form action="/users/register" method="post" class="form-contenedor" id="formulario-registro"  enctype="multipart/form-data">
            <div class="logo">
                <a href="/"><img src="/images/logo/Game-Soul.png" class="logo-img"></a>
            </div>

            <ul class="erroresRegistro-ul" id="erroresRegistro-ul"></ul>
            <section class="form__primera-seccion">
                <span class="form__subtitulo-span">REGISTRATE O INICIA SESIÓN CON TUS REDES SOCIALES</span>
                <ul class="lista-iconos-redes">
                    <li class="iconos-redes"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="iconos-redes"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="iconos-redes"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </section>

            <section class="form">
                    <div class="form__contenedor-subtitulos">         
                        <label class="tenesCuenta-registro">¿Tenés una cuenta?</label>
                        <div><a href="/users/login" class="button-iniciarSesion">Iniciar sesión</a></div>
                    </div> 

                    <div class="form__contenedor-inputs">
                        <div class="form__cont">
                            <label>Nombre:</label>
                            <input type="text" name="nombre" class="form__inputs" id="registro-nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                            <% if (locals.errors && errors.nombre) { %>
                                <p class="text-danger"><%= errors.nombre.msg %></p>
                            <% } %>
                            <div class="errores-registro">
                                <ul class="errores-ul-registro-nombre" id="errores-ul-registro-nombre">

                                </ul>
                            </div>
                        </div>

                        <div class="form__cont">
                            <label>E-mail:</label>
                            <input type="email" name="email" class="form__inputs" id="registro-email" value="<%= locals.oldData ? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <p class="text-danger"><%= errors.email.msg %></p>
                            <% } %>
                            <div class="errores-registro">
                                <ul class="errores-ul-registro-email" id="errores-ul-registro-email">

                                </ul>
                            </div>
                        </div>

                        <div class="form__cont">
                            <label>Contraseña:</label>
                            <input type="password" name="password" class="form__inputs" id="registro-password" value="<%= locals.oldData ? oldData.password : null %>">
                            <% if (locals.errors && errors.password) { %>
                                <p class="text-danger"><%= errors.password.msg %></p>
                            <% } %>
                            <div class="errores-registro">
                                <ul class="errores-ul-registro-contraseña" id="errores-ul-registro-contraseña">

                                </ul>
                            </div>
                        </div>

                        <div class="form__cont">
                            <label>Fecha de nacimiento:</label>
                            <input type="date" name="fechaNacimiento" class="form__inputs" id="registro-fechaNacimiento" value="<%= locals.oldData ? oldData.fechaNacimiento : null %>">
                            <% if (locals.errors && errors.fechaNacimiento) { %>
                                <p class="text-danger"><%= errors.fechaNacimiento.msg %></p>
                            <% } %>
                            <div class="errores-registro">
                                <ul class="errores-ul-registro-fechaNacimiento" id="errores-ul-registro-fechaNacimiento">

                                </ul>
                            </div>
                        </div>

                        <div>
                            <label>Imagen de perfil:</label>
                            <input type="file" name="avatar" accept=".png, .jpg" id="registro-imagen">
                        </div>
                        <div class="errores-registro">
                            <ul class="errores-ul-registro-imagen" id="errores-ul-registro-imagen">

                            </ul>
                        </div>
                    </div>

                    <div class="form__cont">
                        <label for="tyc">Términos y condiciones
                            <input type="checkbox" id="tyc" class="form__recuerdame-tyc" name="tyc">
                        </label>
                        <% if (locals.errors && errors.tyc) { %>
                            <p class="text-danger"><%= errors.tyc.msg %></p>
                        <% } %>
                        <div class="errores-registro">
                            <ul class="errores-ul-registro-terminos" id="errores-ul-registro-terminos">

                            </ul>
                        </div>
                    </div> 

                    <div class="form__cont-login-iniciar-sesion">        
                        <button type="submit"  class="button-crearCuenta-iniciarSesion">Crear Cuenta</button>
                    </div>
            </section> 
        </form>
    </main>

    <%- include ('../partials/footer') %>
    <script src="/js/validations/registerJS.js"></script>

</body>
</html>
